.box{
    height: 500px;
    width: 300px;
    background-color: brown;
    background-image: url('./img.jpg');
    border: 2px solid black;
    color:white;
    background-repeat: no-repeat,repeat;
    /* background-position: 50px; */
    background-size: cover;
    margin:10px;
    padding:10px;
}