*{
    margin:0px;
    padding:0px;
    text-align: center;
}
/* cpbm - content padding border margin */
.box{
    height: 500px;
    width: 300px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(206,212,119,1) 35%, rgba(0,212,255,1) 100%);
    /* background-color: brown; */
    /* background-image: url('./pngwing.com\ \(1\).png'); */
    border: 2px solid black;
    color:white;
    background-repeat: repeat-y;
    /* background-position: 50px; */
    /* cover contain */
    /* background-size:contain;  */
    margin:10px;
    padding:10px;
}
#btn{
    background-color: greenyellow;
    padding: 5px;
    border-radius: 30%;
    height: 30px;
    width: 50px;
    margin: 10px;
}
/* psuedo element */
#btn:hover{
    background-color: red;
}